<div class= "container mt-4">
<h5 class="text-center ">¿Te consideras el mejor desarrollador Junior de tu equipo o de tu escuela? Si es así, ¿por qué? Si no es así, ¿qué crees que te falta en comparación con tus colegas?</h5>
<div class= "row mt-5">
  <div class="col-sm-4">
<p> Si considero que tengo un buen desempeño como programadora, destacándome por mi esfuerzo y capacidad de liderazgo dentro de mi grupo. Durante mi formación, los profesores reconocieron mi dedicación y fui seleccionada como líder de equipo debido a la propuesta que desarrollé. Trabajamos en dos aplicaciones web que recibieron comentarios positivos de los profesores. </p>
</div>
  <div class="col-sm-8">
  <img src="<%= asset_path('felicitacion.png') %>" alt="Descripción de la imagen"  style="width: auto; height: 150px;">
</div>
</div>
</div>
