/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.azul {
  color: blue;
}

.custom-btn {
  color: #fff;
  background-color: blue;
  border-color: blue;
  border-radius: 20px;
}

.imagen-redonda {
  width: 250px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Redondea las esquinas de la imagen */
}

body {
  background-image: url('https://i.pinimg.com/originals/29/6a/18/296a18ef4afbe0c437ef6d36a815f83b.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

h6, h5 {
  color:#fff
}

p {
  color:#000000;
  text-shadow: 1px 1px 2px rgba(80, 73, 73, 0.5);
}

.destacado {
  animation: resaltar 2s infinite alternate;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

@keyframes resaltar {
  from {
    color: #ffffff;
  }
  to {
    color: blue;
  }
}

.card-transparent {
  background-color: rgba(255, 255, 255, 0.5);
}
